<div>
    <h2>{{device.actual.name}}</h2>
    <div class="alert ng-scope alert-error" ng-show="device.actual.inUse">Device in use by {{device.actual.user}}</div>
    <div class="alert ng-scope alert-success" ng-hide="device.actual.inUse">Device ready to use</div>
    <img alt="{{device.actual.name}}" ng-src="{{device.actual.img}}" />
    <div class="well well-large info">
        <h3>Device Information:</h3>
        <ul>
            <li><span class="bold">Operative System: </span>{{device.actual.os}}</li>
            <li><span class="bold">Version: </span>{{device.actual.osVersion}}</li>
            <li><span class="bold">Display Size: </span>{{device.actual.displaySize}}</li>
        </ul>
    </div>
    <accordion close-others="true">
        <accordion-group heading="Request Device">
            <form name="checkForm">
                <div class="control-group" ng-class="{error: checkForm.user.$invalid}">
                    <label>Accenture ID: (i.e. juan.perez)</label>
                    <input type="text" name="user" ng-model="device.actual.user" required>
                    <span ng-show="checkForm.user.$error.required" class="help-inline">Required</span>
                </div>

                <div class="control-group" ng-class="{error: checkForm.password.$invalid}">
                    <label>Passcode:</label>
                    <input type="password" name="password" ng-model="device.actual.password" required ngMinlength="6">
                    <span ng-show="checkForm.password.$error.required" class="help-inline">Required</span>
                </div>
                <p>
                    <span class="bold">Current time is:</span> {{ device.time.now | date:'short' }}
                </p>
                <br>
                <button ng-click="device.send(device.$routeParams)" ng-disabled="isClean() || checkForm.$invalid" class="btn btn-primary" ng-show="device.actual.inUse">Check-in</button>
                <button ng-click="device.send(device.$routeParams)" ng-disabled="isClean() || checkForm.$invalid" class="btn btn-primary" ng-hide="device.actual.inUse">Check-out</button>
            </form>
        </accordion-group>
        <accordion-group heading="History">
            <table id="tableHistory{{device.$routeParams.deviceId}}" index="{{device.$routeParams.deviceId}}" class="table" active-table="{{device.$routeParams.groupId}}">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </accordion-group>
    </accordion>
</div>