<modal-dialog show='modalShown' width='1024px' height='90%'>
    <div ng-if="actual">
        <h2>{{actual.name}}</h2>
        <div class="alert ng-scope alert-error" ng-show="actual.inUse">Device in use by {{actual.user}}</div>
        <div class="alert ng-scope alert-success" ng-hide="actual.inUse">Device ready to use</div>
        <div class="deviceContainer">
            <div class="well infoDevice">
                <img alt="{{actual.name}}" ng-src="{{actual.img}}" class="hidden-phone"/>
                <div class="well well-large info">
                    <h3>Device Information:</h3>
                    <ul>
                        <li><span class="bold">Tag Device: </span>{{actual.tagDevice}}</li>
                        <li><span class="bold">Operative System: </span>{{actual.os}}</li>
                        <li><span class="bold">Version: </span>{{actual.osVersion}}</li>
                        <li><span class="bold">Display Size: </span>{{actual.displaySize}}</li>
                    </ul>
                </div>
            </div>
            <div class="well requestDevice">
                <h3>Request Device:</h3>
                <form name="checkForm">
                    <dl class="dl-horizontal control-group" ng-class="{error: checkForm.user.$invalid}">
                        <dt><label>Accenture ID:</label></dt>
                        <dd>
                            <input type="text" name="user" ng-pattern="/[a-z]+(\.[a-z]+){1,}/" ng-model="actual.user" required>
                            <span ng-show="checkForm.user.$error.required" class="help-inline">Required</span>
                            <span ng-show="checkForm.user.$error.pattern" class="help-inline">Invalid ID</span>
                        </dd>
                    </dl>

                    <dl class="dl-horizontal control-group" ng-class="{error: checkForm.password.$invalid}">
                        <dt><label>Passcode:</label></dt>
                        <dd>
                            <input type="text" name="password" ng-model="actual.password" required ng-minlength="3">
                            <span ng-show="checkForm.password.$error.required" class="help-inline">Required</span>
                            <span ng-show="checkForm.password.$error.invalid" class="help-inline">Invalid Passcode</span>
                        </dd>
                    </dl>

                    <dl class="dl-horizontal control-group">
                        <dt><label>Current time is:</label></dt>
                        <dd>
                            <p>{{ time.now | date:'short' }}</p>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal control-group" ng-class="{error: checkForm.checkinDate.$invalid}">
                        <dt><label>Check-in date:</label></dt>
                        <dd>
                            <div id='datetimepicker1' class="input-append date">
                                <input data-format="dd/MM/yyyy hh:mm:ss" type="text"></input>
                                <span class="add-on">
                                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                </span>
                            </div>
                        </dd>
                    </dl>

                    <dl class="dl-horizontal control-group" ng-class="{error: checkForm.password.$invalid}">
                        <dd>
                            <button ng-click="send($routeParams, checkForm.password)" ng-disabled="isClean() || checkForm.$invalid" class="btn btn-primary" ng-show="actual.inUse">Check-in</button>
                            <button ng-click="send($routeParams)" ng-disabled="isClean() || checkForm.$invalid" class="btn btn-primary" ng-hide="actual.inUse">Check-out</button>
                        </dd>
                    </dl>
                </form>
            </div>
        </div>
        <accordion close-others="true">
            <accordion-group heading="History">
                <table id="tableHistory{{$routeParams.deviceId}}" index="{{$routeParams.deviceId}}" class="table" active-table="{{$routeParams.groupId}}">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </accordion-group>
        </accordion>
    </div>
</modal-dialog>
<script type="text/javascript">
    $(document).ready(function () {
        $('#datetimepicker1').datetimepicker({
            language: 'en',
            format: "dd/mm/yyyy"
        });
    });
</script>
