<tabset>
    <tab ng-repeat="device in stocks" heading="{{device.name}}">
        <h2>{{device.name}}</h2>
        <div class="alert ng-scope alert-error" ng-show="device.inUse">Device in use by {{device.user}}</div>
        <div class="alert ng-scope alert-success" ng-hide="device.inUse">Device ready to use</div>
        <img alt="{{device.name}}" ng-src="{{device.img}}" />
        <div class="well well-large info">
            <h3>Device Information:</h3>
            <ul>
                <li><span class="bold">Operative System: </span>{{device.os}}</li>
                <li><span class="bold">Version: </span>{{device.osVersion}}</li>
                <li><span class="bold">Display Size: </span>{{device.displaySize}}</li>
            </ul>
        </div>
        <accordion close-others="true">
            <accordion-group heading="Request Device">
                <form name="checkForm">
                    <div class="control-group" ng-class="{error: checkForm.user.$invalid}">
                        <label>User Name</label>
                        <input type="text" name="user" ng-model="device.user" required>
                        <span ng-show="checkForm.user.$error.required" class="help-inline">
                            Required</span>
                    </div>

                    <div class="control-group" ng-class="{error: checkForm.password.$invalid}">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="device.password" required ngMinlength="6">
                        <span ng-show="checkForm.password.$error.required" class="help-inline">
                            Required</span>
                    </div>
                    <p>
                        <span class="bold">Current time is:</span> {{ time.now | date:'short' }}
                    </p>
                    <br>
                    <button ng-click="send(device.$id)" ng-disabled="isClean() || checkForm.$invalid" class="btn btn-primary">Send</button>
                </form>
            </accordion-group>
            <accordion-group heading="History">
                This content is straight in the template.
            </accordion-group>
        </accordion>
    </tab>
</tabset>