<tabset>
    <tab ng-repeat="group in stocks" heading="{{group.$id}}">
       <div class="btn-group">
           <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
               Select a device <span class="caret"></span>
           </button>
           <ul class="dropdown-menu" role="menu" ng-init="groupIndex = $index">
               <li ng-repeat="device in group"><a ng-click="loadDevice(groupIndex, $index)">{{device.name}}</a></li>
           </ul>
       </div>
       <hr/>
       <div class="device-animate-container" ng-animate="{enter: 'device-enter', leave: 'device-leave'}"></div>
    </tab>
</tabset>