body {
    font: normal normal 13px Verdana;
}
h1 {
    font-size: 146.5%;
    font-weight: bold;
}
h2 {
    font-size: 123.1%;
    font-weight: bold;
}
h3 {
    font-size: 116%;
    font-weight: bold;
}
h4 {
    font-size: 108%;
    font-weight: bold;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #782b90;
}
body .bold {
    font-weight: bold;
}
body .bold-true {
    font-weight: bold;
    color: #b94a48;
}
body .bold-false {
    font-weight: bold;
    color: #468847;
}
body .container {
    width: 1024px;
    margin: 0 auto;
    font-size: 93%;
}
body .container .btn {
    line-height: inherit;
    font-size: 93%;
    padding: 5px 10px;
}
body .container .table>thead>tr>th,
body .container .table>tbody>tr>th,
body .container .table>tfoot>tr>th,
body .container .table>thead>tr>td,
body .container .table>tbody>tr>td,
body .container .table>tfoot>tr>td {
    padding: 3px 10px;
    line-height: inherit;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}
body .container .row {
    margin: 0;
}
/*body .container .row form {}*/
body .container .row .col-12 img {
    position: relative;
    display: inline-block;
}
body .container .row .col-12 button#changeTeam {
    display: inline-block;
    margin-top: 25px;
    margin-left: 10px;
}
body .container .row div .deviceContainer {
    height: 430px;
    margin-bottom: 20px;
}
body .container .row div .deviceContainer .infoDevice,
body .container .row div .deviceContainer .requestDevice {
    width: 49.7734966278076136%;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}
body .container .row div .deviceContainer .infoDevice .info {
    display: inline-block;
    min-width: 140px;
    width: 50%;
    margin-left: 20px;
}
@media(max-width:767px) {
    .info {
        min-width: 140px;
        margin-left: 0;
    }
}