h1 {
    font-size: 150%
}

a {
    font-weight: bold;
    color: #782B90;
}

a:hover {
    color: #782B90;
}

.bold {
    font-weight: bold;
}

.header {
    margin: 10px 40px 0;
}

.header img {
    clear: both;
}

.btn-group {
    margin-bottom: 20px;
}

ul.nav {
    margin: 0;
}

div.tab-content {
    overflow: visible;
    padding: 15px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    /* useful if you don't want a bg color from leaking outside the border: */
    background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
}

.device-animate-container {
    padding: 15px;
}

.device-animate-container img {
    max-width: 195px;
    height: auto;
    margin: 0 20px 20px 0;
    float: left;
}

span.icon-ok-circle,
span.icon-ban-circle {
     background-image: url(../img/glyphicons-halflings.png);
}

div.accordion {
    clear: both;
}
.accordion .accordion-heading {
    background: url(../img/close.png) center right no-repeat;
}

.info {
    min-width: 140px;
    margin-left: 215px;
}

.nav-tabs > li {
    cursor: pointer;
}

.dataTables_length {
    margin-right: 10px;
}

.animate-enter {
    -webkit-transition: 1s linear all; /* Safari/Chrome */
    -moz-transition: 1s linear all; /* Firefox */
    -o-transition: 1s linear all; /* Opera */
    transition: 1s linear all; /* IE10+ and Future Browsers */

    /* The animation preparation code */
    opacity: 0;
}

.animate-enter.animate-enter-active {
    /* The animation code itself */
    opacity: 1;
}

@media (max-width: 767px) {
    .info {
        min-width: 140px;
        margin-left: 0;
    }
}