h1 {
    font-size: 150%
}

a {
    font-weight: bold;
    color: #782B90;
}

a:hover {
    color: #782B90;
}

.bold {
    font-weight: bold;
}

.header {
    margin: 10px 40px 0;
}

.header img {
    clear: both;
}

ul.nav {
    margin: 0;
}

div.tab-content {
    overflow: visible;
    padding: 15px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    /* useful if you don't want a bg color from leaking outside the border: */
    background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
}

.device-animate-container {
    padding: 15px;
}

.device-animate-container img {
    max-width: 195px;
    height: auto;
    margin: 0 20px 20px 0;
    float: left;
}

/*.over-hide {
    overflow: hidden;
}*/

div.accordion {
    clear: both;
}
.accordion .accordion-heading {
    background: url(../img/close.png) center right no-repeat;
}

.info {
    margin-left: 215px;
}

.nav-tabs > li {
    cursor: pointer;
}

.dataTables_length {
    margin-right: 10px;
}
/*
.device-leave, .device-enter {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -ms-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.device-animate-container {
    position:relative;
    min-height: 500px;
}

.device-animate-container > div {
    display:block;
    width:100%;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:10px;
}

.device-enter {
    left:100%;
}
.device-enter.device-enter-active {
    left:0;
}

.device-leave { }
.device-leave.device-leave-active {
    left:-100%;
}*/