<div class="container" ng-controller="DeviceCtrl" ng-if="actualUser">
    <div class="row">
        <div class="col-12">
            <img src="assets/img/AccLogo.png" height="50" width="207" alt="Accenture" />
            <button ng-click="logout()" ng-controller="pagesCtrl" id="logout" class="btn btn-primary pull-right ng-scope">Logout</button>
            <button ng-click="teamPage()" ng-controller="pagesCtrl" id="teamPage" class="btn btn-primary pull-right ng-scope">Teams</button>
            <button ng-click="addDevicePage()" ng-controller="pagesCtrl" id="addDevice" class="btn btn-primary pull-right ng-scope">Add Device</button>
            <button ng-click="adminPage()" ng-controller="pagesCtrl" id="adminPage" class="btn btn-primary pull-right ng-scope">Administrators</button>
            <h1>Select the device to check for availability</h1>
            <hr />
            <div class="well">
                <table id="tableStatusDevices" class="table dataTable" index="devices" device-table="devices">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Tag Device</th>
                            <th>Device Type</th>
                            <th>OS</th>
                            <th>Status</th>
                            <th>Owned by</th>
                            <th>Used by</th>
                            <th>-</th>
                            <th>-</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <h1>Team Information</h1>
            <hr />
            <form name="newTeamForm" class="well" ng-submit="updateTeam(editTeam, shortName)" enctype='multipart/form-data'>
                <dl class="dl-horizontal control-group" ng-class="{error: newTeamForm.name.$invalid}">
                    <dt><label>Name:</label></dt>
                    <dd>
                        <span type="text" name="name" ng-model="name">{{editTeam.name}}</span>
                    </dd>
                </dl>

                <dl class="dl-horizontal control-group" ng-class="{error: newTeamForm.shortName.$invalid}">
                    <dt><label>Short Name:</label></dt>
                    <dd>
                        <input type="text" name="shortName" ng-model="shortName">
                        <span ng-show="newTeamForm.shortName.$error.required" class="help-inline">Required</span>
                        <span ng-show="newTeamForm.shortName.$error.invalid" class="help-inline">Invalid OS Version</span>
                    </dd>
                </dl>

                <dl class="dl-horizontal control-group">
                    <dd>
                        <button type="submit" ng-disabled="isClean() || newTeamForm.$invalid" class="btn btn-primary">New Team</button>
                    </dd>
                </dl>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#tableTeams').dataTable({
            "order": [[ 0, "desc" ]]
        });
    });
</script>
