<div class="container" ng-controller="upManagerCtrl" ng-if="actualUser">
    <div class="row">
        <div class="col-12">
            <img src="assets/img/AccLogo.png" height="50" width="207" alt="Accenture" />
            <button ng-click="logout()" ng-controller="pagesCtrl" id="logout" class="btn btn-primary pull-right ng-scope">Logout</button>
            <button ng-click="teamPage()" ng-controller="pagesCtrl" id="teamPage" class="btn btn-primary pull-right ng-scope">Teams</button>
            <button ng-click="mainPage()" ng-controller="pagesCtrl" id="mainPage" class="btn btn-primary pull-right ng-scope">Devices</button>
            <button ng-click="addDevicePage()" ng-controller="pagesCtrl" id="addDevice" class="btn btn-primary pull-right ng-scope">Add Device</button>
            <h1>Manage Administrators</h1>
            <hr />
            <div class="well full-width">
                <table id="tableAdmins" class="table dataTable">
                    <thead>
                        <tr>
                            <th>Accenture ID</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users" ng-class-odd="'odd'" ng-class-even="'even'">
                            <td>{{user.accId}}</td>
                            <td><button  class="btn btn-primary" ng-click="editUserFn(user.id)">Edit</button></td>
                            <td><button class="btn btn-primary" ng-click="deleteUser(user.id)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h2>Administrator Info</h2>
            <form name="newAdminForm" class="well" ng-submit="updateUser(editUser, teamId, password)" enctype='multipart/form-data'>
                <div class="control-group" ng-class="{error: newAdminForm.accId.$invalid}">
                    <label>Accenture Id:</label>
                    <span type="text" name="accId" ng-model="editUser.accId" value="">{{editUser.accId}}</span>
                </div>

                <div class="control-group" ng-class="{error: newAdminForm.password.$invalid}">
                    <label>Password:</label>
                    <input type="text" name="password" ng-model="password">
                    <span ng-show="newAdminForm.password.$error.required" class="help-inline">Required</span>
                    <span ng-show="newAdminForm.password.$error.invalid" class="help-inline">Invalid OS Version</span>
                </div>

                <br>
                <button type="submit" ng-disabled="isClean() || newAdminForm.$invalid" class="btn btn-primary">Update Administrator</button>
            </form>
        </div>
    </div>
</div>
