<div class="container" ng-controller="loginCtrl">
    <div class="row">
        <div class="col-12">
            <img src="assets/img/AccLogo.png" height="50" width="207" alt="Accenture" />
            <h1>Device Tracker System</h1>
            <hr />
            <form name="loginForm" class="well" ng-submit="login(user, password)">
                <dl class="dl-horizontal control-group" ng-class="{error: loginForm.user.$invalid}">
                    <dt><label>Accenture ID:</label></dt>
                    <dd>
                        <input type="text" name="user" ng-pattern="/[a-z]+(\.[a-z]+){1,}/"  ng-model="user" required>
                        <span ng-show="loginForm.user.$error.required" class="help-inline">Required</span>
                        <span ng-show="loginForm.user.$error.pattern" class="help-inline">Invalid ID</span>
                    </dd>
                </dl>

                <dl class="dl-horizontal control-group" ng-class="{error: loginForm.password.$invalid}">
                    <dt><label>Password:</label></dt>
                    <dd>
                        <input type="password" name="password" required ng-minlength="6" ng-model="password" required>
                        <span ng-show="loginForm.password.$error.required" class="help-inline">Required</span>
                        <span ng-show="loginForm.password.$error.invalid" class="help-inline">Invalid Passcode</span>
                    </dd>
                </dl>

                <dl class="dl-horizontal control-group" ng-class="{error: loginForm.password.$invalid}">
                    <dd><label class="error">{{msgtxt}}</label></dd>
                </dl>
                <br>
                <dl class="dl-horizontal control-group">
                    <dd>
                        <button type="submit" ng-disabled="isClean() || loginForm.$invalid" class="btn btn-primary">Login</button>
                    </dd>
                </dl>
            </form>
        </div>
    </div>
</div>
