<div class="container" ng-controller="DeviceCtrl">
    <div class="row">
        <div class="col-12">
            <img src="" height="50" width="207" alt="Accenture" />
            <button ng-click="logout()" ng-controller="pagesCtrl" id="logout" class="btn btn-primary pull-right ng-scope">Logout</button>
            <button ng-click="addDevicePage()" ng-controller="pagesCtrl" id="addDevice" class="btn btn-primary pull-right ng-scope">Add Device</button>
            <button ng-click="adminPage()" ng-controller="pagesCtrl" id="adminPage" class="btn btn-primary pull-right ng-scope">Administrators</button>
            <h1>Select the device to check for availability</h1>
            <hr />
            <div class="well">
                <button class="btn btn-primary pull-right" ng-click="isCollapsed = !isCollapsed"><span ng-if="isCollapsed">[+]</span><span ng-if="!isCollapsed">[-]</span></button>
                <div collapse="isCollapsed">
                    <table id="tableStatusDevices" class="table dataTable" index="devices" device-table="devices">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Device Type</th>
                                <th>OS</th>
                                <th>Status</th>
                                <th>Owned by</th>
                                <th>Used by</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 over-hide">
            <div ng-if="urlDevice" ng-include="'device.html'" class="device-animate-container"></div>
        </div>
    </div>
</div>