<!DOCTYPE html>
<html ng-app="workshop01">
    <head>
        <title>Angular practice</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link type="text/css" href="//cdn.jsdelivr.net/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" href="//cdn.jsdelivr.net/fontawesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <script src="//cdn.jsdelivr.net/angularjs/1.0.7/angular.min.js"></script>
        <script src="//cdn.jsdelivr.net/jquery/2.0.3/jquery-2.0.3.min.js"></script>
        <script src="//cdn.jsdelivr.net/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//cdn.jsdelivr.net/underscorejs/1.5.1/underscore-min.js"></script>
        <script src="app.js"></script>

    </head>
    <body ng-controller="TopicsCtrl">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="navbar-collapse">
                            <a class="navbar-brand" href="#">Workshop 01</a>
                            <button type="button" class="btn navbar-btn btn-primary pull-right" ng-click="refresh()"><span class="icon-repeat"></span> Load</button>
                        </div>
                    </nav>
                    <div class="tabbable" workshop01.directives.tabs>
                        <ul class="nav nav-tabs">
                            <li ng-repeat="group in groups">
                                <a href="#{{group.name}}" data-toggle="tab">{{group.name}}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div ng-repeat="group in groups" class="tab-pane" id="{{group.name}}">
                                <div class="list-group" active-link>
                                    <a href="" ng-repeat="topic in group.topics" class="list-group-item">
                                        <ng-pluralize count="group.index" when="{'0':'Tutorial #{{$index+1}} at W3Schools', '1':'Mozilla Developer Network, Learn CSS Topic #{{$index+1}}', '2':'Exercise #{{$index+1}} at CodeAcademy.com', '3':'Try jQuery, Chapter {{$index+1}}', '4':'AngularJS – Tutorial {{$index+1}}'}"></ng-pluralize>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
